.container 
{
  position: relative;      
  width: 94%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 35px;
}
    
.container .card 
{
  height: 220px;
  max-width: 200px;
  position: relative;
  margin: 30px 10px;
  padding: 20px 15px;
  background: wheat;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px black;
  transition: 0.3s ease-in-out;
}
    
.container .card:hover 
{
  height: 420px;
}

.containe .card .imgbox {
  position: relative;
  width: 260px;    
  height: 260px;
  top: -60px;
  left: 20px;
}
    
.container .card .imgbox img 
{
  max-width: 100%;
  border-radius: 4px;
}

.container .card .content 
{
  position: relative;
  margin-top: -100px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
    
.container .card:hover .content 
{
  visibility: visible;
  opacity: 1;
  margin-top: -10px;
  transition-delay: 0.3s;
}

.h2ph
{
      font-family: lucida console;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}